.git
.gitignore
.gitattributes
.dockerignore
Dockerfile
docker-compose.yml
README.md
.env
.env.example
.env.local
.env.staging
.env.production
node_modules
npm-debug.log*
.nyc_output
.coverage
.eslintcache
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
tests
.github